[user]
  name = Wilson Leong
  email = wilson@binaryrebellion.com

[http]
  sslVerify = false

[core]
  editor = vim
  whitespace = trailing-space,space-before-tab
  excludesfile = ~/.gitignore

[alias]
  conflicts = diff --name-only --diff-filter=U
  pushcurrent = "!f() { git push ${1:-origin} `git symbolic-ref HEAD`; }; f"
  pullcurrent = "!f() { git pull -u ${1:-origin} `git symbolic-ref HEAD`; }; f"
  unpushed = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git log origin/$PROJ_BRANCH..HEAD"
  unpulled = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git fetch && git log HEAD..origin/$PROJ_BRANCH"
  b = branch
  br = branch -r
  s = status --short --branch
  co = checkout
  a = add
  aa = add -A :/
  ap = add --patch
  amend = commit --amend
  c = commit
  cam = commit -am
  cm = commit -m
  undo = reset --soft HEAD~
  ll = log
  lfp = log --first-parent
  ;ll = log --pretty=format:"%C(yellow)%h\\ %Cblue[%cn]\\ %Cgreen<%ad>\\ %n%Creset%s%n" --decorate
  l = "!git log --pretty='tformat:%C(yellow)%h{%C(green)%ar{%C(bold blue)%an{%C(red)%d%C(reset) %s' $* | column -t -s '{' | less -FXRS"
  lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ctags = !.git/hooks/ctags
  cut = checkout -b

[credential]
	helper = cache --timeout=216000

[push]
  default = simple

[advice]
  detachedHead = false
  statusHints = false
  pushNonFastForward = false

[diff]
  renames = copies
  mnemonicprefix = true
  renameLimit = 2000

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = green
  remote = blue

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green
  changed = red
  untracked = cyan
[init]
	templatedir = ~/.git_template
[rerere]
	enabled = true
